.star-toggle {
  visibility: hidden;
  height: 40px;
  width: 40px;

  font-size: 40px;
  line-height: 1;
  cursor: pointer;
  color: $ice-blue;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 10px;
  bottom: 8px;

  &:before {
    content: "\2606";
    visibility: visible;
  }

  &:checked:before {
    content: "\2605";
  }

  &--card {
    position: static;
    width: 60px;
    height: 60px;
    font-size: 60px;
    margin-right: 30px;

    @media (max-width: $tablet-width) {
      font-size: 45px;
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
  }
}