.word-card {
  margin: 20px auto;
  width: 70%;
  padding: 40px;
  min-height: 500px;
  background-color: $gray-100;
  border-radius: 10px;
  position: relative;

  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    width: 90%;
    padding: 20px;
    min-height: 300px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 10px;
    min-height: 300px;
  }

  &__header {
    position: relative;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: 50px;
    margin-right: 30px;

    @media (max-width: $tablet-width) {
      font-size: 36px;
      margin-right: 10px;
    }
  }

  &__pronunciation {
    display: flex;
    align-items: baseline;
  }

  &__pronunciation-title {
    margin-right: 10px;
    font-size: 34px;

    @media (max-width: $tablet-width) {
      font-size: 28px;
    }

    @media (max-width: $mobile-width) {
      font-size: 24px;
    }
  }

  &__pronunciation-list {
    display: flex;
    font-size: 26px;
    margin-bottom: 24px;

    li:not(:last-child) {
      margin-right: 10px;

      &:after {
        margin-left: 1px;
        content: ";";
      }
    }

    @media (max-width: $tablet-width) {
      font-size: 24px;
    }

    @media (max-width: $mobile-width) {
      font-size: 20px;
    }
  }

  &__definitions {
    font-size: 30px;

    @media (max-width: $tablet-width) {
      font-size: 24px;
    }

    @media (max-width: $mobile-width) {
      font-size: 20px;
    }
  }

  &__definition-item {
    margin-bottom: 10px;
    display: flex;
    background-color: $gray-100;

    @media (max-width: $tablet-width) {
      margin-bottom: 0;
      padding: 8px;
    }
  }

  &__def-number {
    min-width: 50px;

    @media (max-width: $tablet-width) {
      min-width: 35px;
    }
  }

  &__speech-part {
    font-style: italic;
    font-weight: 500;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    opacity: 0.7;
    background-size: 25px;

    @media (max-width: $tablet-width) {
      width: 20px;
      height: 20px;
      background-size: 20px;
    }

    @media (max-width: $mobile-width) {
      width: 15px;
      height: 15px;
      background-size: 15px;
      top: 15px;
      right: 15px;
    }
  }
}
