.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
  min-height: 110px;

  border: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.125);

  &__input {
    width: 63%;
    max-width: 700px;
    margin-right: auto;
    margin-bottom: 0 !important;

    @media (max-width: $tablet-width) {
      width: 100%;
    }

    input {
      border-color: $gray-600;
      background-color: $gray-100;
    }
  }

  &__search-button {
    width: 35%;
    max-width: 120px;

    @media (max-width: $tablet-width) {
      width: 100%;
      max-width: none;
      margin: 10px 0;
    }

    @media (max-width: $mobile-width) {
      width: 51%;
      margin: 10px auto;
      min-width: 258px;
    }
  }

  &__show-button {
    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 20px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @media (max-width: $mobile-width) {
      width: 51%;
      margin: 0 auto 20px;
      min-width: 258px;
    }
  }
}
